.Fund_management_content,.Fund_management_content_cmdr_2new_img,.Fund_management_content_czhy,.Fund_management_content_czhy_middle2_div_rightleftlast,.Withdrawals_div_content_last1_left,.yema1 {
    overflow: hidden
}

.Capitalrecord_transactionrecords {
    width: 1000px;
    min-height: 700px;
    margin: 0 auto
}

.Capitalrecord_transactionrecords1 {
    background-color: #f8f8f8
}

.Withdrawals_div {
    background-color: #59c2e6
}

.Withdrawals_div a {
    color: #FFF
}

.Withdrawals_div_middle1_Buta1,.Withdrawals_div_middle1_Buta2 {
    color: #1d1d26;
    line-height: 29px;
    font-family: "微软雅黑";
    display: block;
    font-size: 14px;
    float: left
}

.Withdrawals_div_a1 {
    margin-left: 38px
}

.Withdrawals_div_a2 {
    margin-left: 75px
}

.Withdrawals_div_middle {
    height: 59px
}

.Withdrawals_div_middle1 {
    width: 980px;
    height: 59px;
    float: left;
    background-image: url(../images/tixian_middle_beijingimg1_03.png);
    background-repeat: no-repeat;
    margin-left: 10px
}

.Withdrawals_div_middle1_But {
    width: 134px;
    height: 29px;
    background-image: url(../images/tixian_anniu_img1_03.png);
    background-repeat: no-repeat;
    float: left;
    margin-top: 10px;
    margin-left: 38px;
    cursor: pointer
}

.Withdrawals_div_middle1_Buta1 {
    margin-left: 20px
}

.Withdrawals_div_middle1_Buta2 {
    margin-left: 8px
}

.Withdrawals_div_middle1_a1 {
    display: block;
    color: #7b8da0;
    font-size: 12px;
    float: left;
    line-height: 50px;
    margin-left: 23px;
    font-family: "微软雅黑"
}

.Withdrawals_div_content {
    height: 270px
}

.Withdrawals_div_content_top {
    width: 980px;
    float: left;
    margin-left: 10px;
    border-bottom: 1px solid #eef0f2;
    background-color: #FFF;
    padding: 10px 0
}

.Withdrawals_div_content_top_a1 {
    display: block;
    color: #7b8da0;
    font-size: 14px;
    float: left;
    line-height: 50px;
    margin-left: 38px;
    font-family: "微软雅黑"
}

.Withdrawals_div_content_last1_right1_a1,.Withdrawals_div_content_last1_right2_a1 {
    display: block;
    color: #7b8da0;
    font-size: 14px;
    line-height: 14px;
    font-family: "微软雅黑";
    float: left
}

.Withdrawals_div_content_last {
    height: 219px
}

.Withdrawals_div_content_last1 {
    width: 980px;
    height: 219px;
    background-image: url(../images/guanli_content_beijing_03.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 10px;
    background-size: 980px 249px
}

.Withdrawals_div_content_last1_left {
    width: 51px;
    float: left
}

.Withdrawals_div_content_last1_left img {
    float: left;
    margin-top: 14px;
    margin-left: 23px
}

.Withdrawals_div_content_last1_right {
    width: 566px;
    overflow: hidden;
    float: left
}

.Withdrawals_div_content_last1_right1 {
    height: 41px
}

.Withdrawals_div_content_last1_right1_a1 {
    margin-top: 16px
}

.Withdrawals_div_content_last1_right2 {
    height: 29px
}

.Withdrawals_div_content_last1_right2_a1 {
    margin-top: 8px
}

.Withdrawals_div_content_last1_right2_Txt1 {
    width: 97px;
    height: 27px;
    border: 1px solid #e8e8e8;
    float: left;
    color: #a8a8aa;
    font-size: 12px;
    padding-left: 9px;
    margin-left: 9px;
    font-family: "微软雅黑"
}

.Withdrawals_div_content_last1_right3_a1,.Withdrawals_div_content_last1_right3_a2 {
    color: #7b8da0;
    font-family: "微软雅黑";
    display: block;
    float: left;
    line-height: 14px
}

.Withdrawals_div_content_last1_right3 {
    height: 40px
}

.Withdrawals_div_content_last1_right3_a1 {
    font-size: 14px;
    margin-top: 13px
}

.Withdrawals_div_content_last1_right3_a2 {
    font-size: 14px;
    margin-top: 12px;
    margin-left: 53px
}

.Withdrawals_div_content_last1_right3_a3 {
    display: block;
    color: #10ace2;
    font-size: 14px;
    float: left;
    line-height: 14px;
    margin-top: 10px;
    margin-left: 24px;
    cursor: pointer;
    font-family: "微软雅黑"
}

.Withdrawals_div_content_last1_right4_a1,.Withdrawals_div_content_last1_right4_a2 {
    line-height: 14px;
    margin-top: 6px;
    font-size: 14px;
    font-family: "微软雅黑";
    display: block;
    float: left
}

.Withdrawals_div_content_last1_right4 {
    height: 29px
}

.Withdrawals_div_content_last1_right4_a1 {
    color: #7b8da0
}

.Withdrawals_div_content_last1_right4_a2 {
    color: #10ace2;
    margin-left: 17px;
    cursor: pointer
}

.Withdrawals_div_content_last1_right5 {
    height: 46px
}

.Withdrawals_div_content_last1_right5_But1 {
    width: 102px;
    height: 27px;
    background-color: #59c2e6;
    border: 1px solid #e8e8e8;
    float: left;
    color: #FFF;
    font-size: 14px;
    margin-top: 17px;
    margin-left: 79px;
    cursor: pointer;
    font-family: "微软雅黑"
}

.Withdrawals_div_content_top_a2 {
    display: block;
    color: #7b8da0;
    font-size: 12px;
    float: left;
    line-height: 50px;
    margin-left: 47px;
    font-family: "微软雅黑"
}

.Capitalrecord_transactionrecords1_middle1_topleft a,.Capitalrecord_transactionrecords1_middle1_topleft2 a,.Capitalrecord_transactionrecords1_top1_a1 {
    font-size: 18px;
    line-height: 50px;
    display: block;
    font-family: "微软雅黑"
}

* {
    margin: 0;
    padding: 0
}

/*input,select {*/
    /*border: none*/
/*}*/

a {
    text-decoration: none
}

li {
    list-style: none
}

.Capitalrecord_transactionrecords1_top {
    height: 70px;
    position: relative
}

.Capitalrecord_transactionrecords1_top1 {
    width: 980px;
    height: 50px;
    background-color: #FFF;
    float: left;
    margin-top: 10px;
    margin-left: 10px
}

.Capitalrecord_transactionrecords1_top1_a1 {
    float: left;
    color: #1d1d26;
    margin-left: 25px
}

.Capitalrecord_transactionrecords1_top_img1 {
    position: absolute;
    top: 10px;
    left: 6px
}

.Capitalrecord_transactionrecords1_top_img2 {
    position: absolute;
    top: 10px;
    right: 3px
}

.Capitalrecord_transactionrecords1_top_img3 {
    position: absolute;
    bottom: 10px;
    left: 10px
}

.Capitalrecord_transactionrecords1_middle {
    height: 145px;
    position: relative
}

.Capitalrecord_transactionrecords1_middle1 {
    width: 980px;
    height: 145px;
    float: left;
    margin-left: 10px;
    position: relative
}

.Capitalrecord_transactionrecords1_middle1_topleft,.Capitalrecord_transactionrecords1_middle1_topleft2 {
    width: 141px;
    border-right: 1px solid #eef1f2;
    border-bottom: 1px solid #eef1f2;
    text-align: center;
    cursor: pointer;
    float: left
}

.Capitalrecord_transactionrecords1_middle1_top {
    height: 51px;
    position: relative
}

.Capitalrecord_transactionrecords1_middle1_topleft {
    height: 50px;
    background-color: #59c2e6
}

.Capitalrecord_transactionrecords1_middle1_topleft a {
    color: #FFF
}

.Capitalrecord_transactionrecords1_middle1_topleft2 {
    height: 50px;
    background-color: #FFF
}

.Capitalrecord_transactionrecords1_middle1_topleft2 a {
    color: #1d1d26
}

.Capitalrecord_transactionrecords1_middle1_top_img1 {
    position: absolute;
    top: 0;
    left: 284px
}

.Capitalrecord_transactionrecords1_middle1_middle {
    height: 50px;
    background-image: url(../images/zjjv_jyjv_middle_img1_03.png);
    background-repeat: no-repeat;
    border-bottom: 1px solid #eef0f2
}

.Capitalrecord_transactionrecords1_middle1_middlea1 {
    display: block;
    line-height: 50px;
    margin-left: 28px;
    float: left;
    color: #7b8da0;
    font-size: 14px;
    font-family: "微软雅黑"
}

.Capitalrecord_transactionrecords1_middle1_middletxt1 {
    width: 88px;
    height: 27px;
    border: 1px solid #e8e8e8;
    float: left;
    margin-top: 11px;
    margin-left: 9px;
    color: #1d1d26;
    font-size: 14px;
    padding-left: 16px;
    font-family: "微软雅黑"
}

.Capitalrecord_transactionrecords1_middle1_middlea2 {
    color: #747479;
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 14px;
    font-family: "微软雅黑"
}

.Capitalrecord_transactionrecords1_middle1_middletxt2 {
    width: 88px;
    height: 27px;
    border: 1px solid #e8e8e8;
    float: left;
    margin-top: 11px;
    margin-left: 6px;
    color: #1d1d26;
    font-size: 14px;
    padding-left: 16px;
    font-family: "微软雅黑"
}

.Capitalrecord_transactionrecords1_middle1_middlea3,.Capitalrecord_transactionrecords1_middle1_middlea4,.Capitalrecord_transactionrecords1_middle1_middlea5 {
    width: 98px;
    height: 27px;
    line-height: 27px;
    margin-top: 11px;
    font-size: 14px;
    font-family: "微软雅黑";
    float: left;
    display: block;
    text-align: center;
    cursor: pointer
}

.Capitalrecord_transactionrecords1_middle1_middlea3 {
    color: #7b8da0;
    margin-left: 35px
}

.Capitalrecord_transactionrecords1_middle1_middlea4 {
    color: #384655;
    background-image: url(../images/zjjv_img1_03.png);
    background-repeat: no-repeat;
    margin-left: 14px
}

.Capitalrecord_transactionrecords1_middle1_middlea5 {
    color: #8393a5;
    margin-left: 12px
}

.Capitalrecord_transactionrecords1_middle1_middlecontent {
    height: 84px;
    background-image: url(../images/zjjv_img3_03.png);
    background-repeat: no-repeat
}

.Capitalrecord_transactionrecords1_middle1_middlecontenttop {
    height: 49px
}

.Capitalrecord_transactionrecords1_middle1_middlecontenttop ul li {
    float: left
}

.CTRMiddle1Mcontenttop_li1 {
    width: 141px;
    height: 49px
}

.CTRMiddle1Mcontenttop_li1_a1 {
    color: #7b8da0;
    float: left;
    display: block;
    margin-left: 28px;
    line-height: 14px;
    margin-top: 19px;
    font-size: 14px;
    font-family: "微软雅黑"
}

.CTRMiddle1Mcontenttop_li2 {
    width: 104px;
    height: 49px
}

.CTRMiddle1Mcontenttop_li1_a2 {
    color: #384655;
    float: left;
    width: 66px;
    height: 18px;
    background-image: url(../images/middle_imgbeijing_03.png);
    background-repeat: no-repeat;
    display: block;
    line-height: 18px;
    margin-top: 17px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    font-family: "微软雅黑"
}

.CTRMiddle1Mcontent1_div1_li1_a1,.CTRMiddle1Mcontent1_div1_li1_a2 {
    line-height: 50px;
    font-size: 14px;
    font-family: "微软雅黑";
    float: left;
    display: block
}

.CTRMiddle1Mcontenttop_li3 {
    width: 118px;
    height: 49px
}

.CTRMiddle1Mcontenttop_li4 {
    width: 119px;
    height: 49px
}

.CTRMiddle1Mcontenttop_li5 {
    width: 117px;
    height: 49px
}

.CTRMiddle1Mcontenttop_li6 {
    width: 121px;
    height: 49px
}

.CTRMiddle1Mcontenttop_li7 {
    width: 66px;
    height: 49px
}

.Capitalrecord_transactionrecords1_middle1_middlecontentlast {
    height: 35px
}

.Capitalrecord_transactionrecords1_middle1_middlecontentlast ul li {
    float: left
}

.CTRMiddle1Mcontentlast_li1_a1 {
    margin-top: 0
}

.CTRMiddle1Mcontenttop_li1_a1_img {
    background-image: none;
    color: #7b8da0
}

.Capitalrecord_transactionrecords1_middle1_img {
    position: absolute;
    bottom: 0;
    left: 0
}

.Capitalrecord_transactionrecords1_middle_img {
    position: absolute;
    right: 3px;
    top: 51px
}

.Capitalrecord_transactionrecords1_middle_img2 {
    position: absolute;
    left: 5px;
    top: 0
}

.Capitalrecord_transactionrecords1_content {
    height: 548px;
    position: relative
}

.Capitalrecord_transactionrecords1_content1 {
    height: 538px;
    width: 980px;
    float: left;
    margin-left: 10px;
    background-color: #FFF
}

.Capitalrecord_transactionrecords1_content1_div1 {
    height: 50px;
    border-bottom: 1px solid #eef0f2
}

.Capitalrecord_transactionrecords1_content1_div1 ul li {
    float: left
}

.CTRMiddle1Mcontent1_div1_li1 {
    width: 241px;
    height: 50px
}

.CTRMiddle1Mcontent1_div1_li1_a1 {
    color: #7b8da0;
    margin-left: 28px
}

.CTRMiddle1Mcontent1_div1_li1_a2 {
    color: #919fae
}

.CTRMiddle1Mcontent1_div1_li2 {
    width: 228px;
    height: 50px
}

.CTRMiddle1Mcontent1_div1_li3 {
    width: 181px;
    height: 50px
}

.CTRMiddle1Mcontent1_div1_li4 {
    width: 28px;
    height: 50px
}

.Capitalrecord_transactionrecords1_content1_div2 {
    height: 60px;
    border-bottom: 1px solid #eef0f2
}

.Capitalrecord_transactionrecords1_content1_div2 ul li {
    float: left
}

.CTRMiddle1Mcontent1_div2_li1 {
    width: 255px;
    height: 36px
}

.CTRMiddle1Mcontent1_div2_li1_a1 {
    color: #7b8da0;
    float: left;
    display: block;
    line-height: 36px;
    font-size: 12px;
    margin-left: 24px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.CTRMiddle1Mcontent1_div2_li2 {
    width: 239px;
    height: 36px
}

.CTRMiddle1Mcontent1_div2_li1_a2 {
    color: #7b8da0;
    float: left;
    display: block;
    line-height: 36px;
    font-size: 12px;
    font-family: "微软雅黑"
}

.CTRMiddle1Mcontent1_div2_li1_a3,.CTRMiddle1Mcontent1_div2_li1_a4 {
    color: #59c2e6;
    line-height: 36px;
    float: left;
    font-size: 12px;
    display: block
}

.CTRMiddle1Mcontent1_div2_li3 {
    width: 217px;
    height: 36px
}

.CTRMiddle1Mcontent1_div2_li1_a3 {
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.CTRMiddle1Mcontent1_div2_li4 {
    width: 181px;
    height: 36px
}

.CTRMiddle1Mcontent1_div2_li1_a4 {
    font-family: "微软雅黑"
}

.CTRMiddle1Mcontent1_div2_li5 {
    width: 37px;
    height: 36px;
    cursor: pointer
}

.CTRMiddle1Mcontent1_div2_li1_img1 {
    float: left;
    margin-top: 16px;
    margin-left: 4px;
    cursor: pointer
}

.Capitalrecord_transactionrecords1_content1_div2_top {
    height: 36px
}

.Capitalrecord_transactionrecords1_content1_div2_last {
    height: 24px
}

.CTRMiddle1Mcontent1_div2_last_li1 {
    width: 255px;
    height: 24px
}

.CTRMiddle1Mcontent1_div2_last_li1_a1 {
    color: #a8a8aa;
    float: left;
    margin-left: 35px;
    display: block;
    font-size: 12px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.CTRMiddle1Mcontent1_div2_last_li2 {
    width: 130px;
    height: 24px
}

.CTRMiddle1Mcontent1_div2_last_li2_a2 {
    color: #a8a8aa;
    float: left;
    display: block;
    font-size: 12px;
    font-family: "微软雅黑"
}

.xiaye,.yema1 ul {
    float: right;
    margin-top: 12px
}

.CTRMiddle1Mcontent1_div2_last_li2_a2_span {
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.CTRMiddle1Mcontent1_div2_li1_a4_new {
    color: #ff9c00
}

.CTRMiddle1Mcontent1_div2_li3_new {
    width: 212px
}

.CTRMiddle1Mcontent1_div2_li1_a4_new2 {
    color: #ff2626
}

.CTRMiddle1Mcontent1_div2_li1_a3_new3 {
    color: red
}

.Capitalrecord_transactionrecords1_content1_div2_bottom {
    border-bottom: none
}

.Capitalrecord_transactionrecords1_content_img1 {
    position: absolute;
    bottom: 0;
    left: 10px
}

.Capitalrecord_transactionrecords1_content_img2 {
    position: absolute;
    right: 4px;
    top: 0
}

.Capitalrecord_transactionrecords1_content_img3 {
    position: absolute;
    left: 5px;
    top: 0
}

.Capitalrecord_transactionrecords1_last {
    height: 57px
}

.yema1 {
    border-top: 1px solid #ededed
}

.xiaye {
    width: 48px;
    height: 23px;
    background-image: url(../images/yema_1_07.png);
    color: #666;
    font-size: 16px;
    margin-left: 7px;
    background-color: #FFF;
    cursor: pointer;
    font-family: "微软雅黑"
}

.yema1 ul li a,.yema1a1 {
    color: #666;
    line-height: 23px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial;
    font-size: 16px
}

.yema1 ul li {
    float: left
}

.yema1 ul li a {
    display: block
}

.yema1a1 {
    background-image: url(../images/yema_1_05.png);
    width: 30px;
    height: 23px;
    text-align: center
}

.yema1_But3 {
    width: 48px;
    height: 23px;
    background-image: url(../images/yema_1_03.png);
    float: right;
    color: #999;
    font-size: 16px;
    margin-top: 12px;
    background-color: #fff;
    margin-right: 9px;
    cursor: pointer;
    font-family: "微软雅黑"
}

.yema1a3,.yema1a8 {
    color: #666;
    line-height: 12px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial;
    font-size: 16px
}

.yema1a2 {
    margin-right: 13px
}

.yema1a3 {
    margin-right: 9px;
    height: 23px
}

.yema1a4 {
    margin-right: 11px
}

.yema1a5 {
    margin-left: 12px;
    margin-right: 10px
}

.yema1a8 {
    margin-right: 8px
}

.Capitalrecord_transactionrecords_weiye {
    margin-right: 20px;
    cursor: pointer
}

.Capitalrecord_transactionrecords_weiyea1 {
    display: block;
    color: #999;
    font-size: 16px;
    float: right;
    margin-top: 16px;
    line-height: 16px;
    margin-right: 18px;
    font-family: "微软雅黑"
}

.Capitalrecord_transactionrecords1_mulv {
    height: 51px
}

.Capitalrecord_transactionrecords1_mulv1 {
    width: 980px;
    height: 51px;
    float: left;
    margin-left: 10px
}

.Present_record_middle_top_ul1 {
    float: left;
    width: 376px;
    margin-left: 28px
}

.Present_record_middle_last_ul2 {
    float: right;
    width: 540px;
    height: 50px
}

.Fund_management_topa1,.Fund_management_topa2 {
    display: block;
    line-height: 50px;
    float: left;
    font-family: "微软雅黑";
    font-size: 14px
}

.Present_record_middle_li1 {
    width: 103px;
    height: 50px
}

.Present_record_middle_a1 {
    margin-left: 0;
    line-height: 50px
}

.Present_record_middle_a2 {
    line-height: 50px
}

.Present_record_middle_a3 {
    margin-top: 16px
}

.Present_record_middle_li2 {
    width: 90px
}

.Present_record_middle_li3 {
    width: 89px
}

.Present_record_middle_li4,.Present_record_middle_li5 {
    width: 79px
}

.Present_record_middle_li6 {
    width: 66px
}

.TX_Present_record_middle_a1 {
    margin-left: 0;
    margin-top: 0;
    line-height: 50px
}

.TX_Present_record_middle_li1 {
    width: 104px
}

.TX_Present_record_middle_li2 {
    width: 96px
}

.TX_Present_record_middle_li3 {
    width: 110px
}

.TX_Present_record_middle_li4 {
    width: 66px
}

.Present_record_middle_middle1_middlecontent {
    height: 50px;
    background-image: url(../images/tixian_img1_03.png);
    background-repeat: no-repeat
}

.Present_record1_middle,.Present_record1_middle1 {
    height: 111px
}

.zjjv_txjv_a1 {
    color: #7b8da0
}

.Fund_management_topa1 {
    color: #000;
    margin-left: 23px
}

.Fund_management_topa2 {
    color: #000;
    margin-left: 31px
}

.Fund_management_topa2_span1 {
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.Fund_management_topa3,.Fund_management_topa4,.coin_help {
    display: block;
    line-height: 50px;
    float: left;
    font-family: "微软雅黑"
}

.Fund_management_topa3 {
    color: #000;
    font-size: 14px;
    margin-left: 30px
}

.coin_help {
    cursor: pointer;
    color: #59c2e6;
    font-size: 14px;
    margin-left: 30px
}

.Fund_management_topa4 {
    color: #919fae;
    font-size: 12px;
    margin-left: 12px
}

.Fund_management_middle_topimg {
    position: absolute;
    top: 0;
    left: 425px
}

.Fund_management_middle_topleft2 {
    background-color: #FFF
}

.Fund_management_middle_topleft2 a {
    color: #1d1d26
}

.Fund_management_content_czhy_middle1_diva1,.Fund_management_content_czhy_middle1_diva2 {
    color: #7b8da0;
    line-height: 50px;
    display: block;
    float: left;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle1 {
    height: 51px
}

.Fund_management_content_czhy_middle1_div {
    width: 980px;
    height: 51px;
    float: left;
    background-image: url(../images/zjgl_czhy_img1_03.png);
    background-repeat: no-repeat;
    margin-left: 10px
}

.Fund_management_content_czhy_middle1_diva1 {
    font-size: 14px;
    margin-left: 28px
}

.Fund_management_content_czhy_middle1_diva2 {
    font-size: 12px;
    margin-left: 58px
}

.Fund_management_content_czhy_middle2 {
    position: relative
}

.Fund_management_content_czhy_middle2_div {
    width: 980px;
    height: 250px;
    background: url(../images/zjgl_czhy_middle2img_03.png) 0 -358px no-repeat;
    margin-left: 10px
}

.Fund_management_content_czhy_middle2_div_left {
    width: 474px;
    height: 250px;
    float: left
}

.Fund_management_content_czhy_middle2_div_left1 {
    height: 37px
}

.Fund_management_content_czhy_middle2_div_left1a1 {
    display: block;
    color: #8696a7;
    font-size: 14px;
    float: left;
    line-height: 14px;
    margin-top: 19px;
    margin-left: 28px;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_left1a2 {
    display: block;
    width: 76px;
    height: 21px;
    background-image: url(../images/zjgl_czhy_img3_03.png);
    background-repeat: no-repeat;
    color: #384655;
    font-size: 14px;
    float: left;
    line-height: 21px;
    margin-top: 16px;
    margin-left: 26px;
    text-align: center;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_left1a3,.Fund_management_content_czhy_middle2_div_left1a4 {
    display: block;
    height: 21px;
    color: #7b8da0;
    line-height: 21px;
    margin-top: 16px;
    font-size: 14px;
    width: 76px;
    text-align: center
}

.Fund_management_content_czhy_middle2_div_left1a3 {
    float: left;
    margin-left: 35px;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_left1a4 {
    float: left;
    margin-left: 37px;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_left2a1,.Fund_management_content_czhy_middle2_div_left2a2,.Fund_management_content_czhy_middle2_div_left3a1 {
    color: #8696a7;
    float: left;
    display: block;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_left2 {
    height: 45px
}

.Fund_management_content_czhy_middle2_div_left2a1 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 31px;
    margin-left: 28px
}

.Fund_management_content_czhy_middle2_div_left2a2 {
    font-size: 12px;
    line-height: 12px;
    margin-top: 32px;
    margin-left: 40px
}

.Fund_management_content_czhy_middle2_div_left3 {
    height: 55px
}

.Fund_management_content_czhy_middle2_div_left3a1 {
    font-size: 14px;
    line-height: 14px;
    margin-top: 37px;
    margin-left: 28px
}

.Fund_management_content_czhy_middle2_div_left3a2 {
    display: block;
    color: #384655;
    width: 76px;
    height: 21px;
    font-size: 12px;
    float: left;
    line-height: 21px;
    margin-top: 34px;
    margin-left: 27px;
    text-align: center;
    background-image: url(../images/zjgl_czhy_img3_03.png);
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_left3a3,.Fund_management_content_czhy_middle2_div_left3a4,.Fund_management_content_czhy_middle2_div_left3a5 {
    display: block;
    color: #7b8da0;
    width: 76px;
    height: 21px;
    font-size: 12px;
    float: left;
    line-height: 21px;
    margin-top: 34px;
    margin-left: 8px;
    text-align: center;
    cursor: pointer;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_left4 {
    height: 54px
}

.Fund_management_content_czhy_middle2_div_left4But {
    width: 102px;
    height: 27px;
    background-color: #59c2e6;
    border: 1px solid #e8e8e8;
    color: #FFF;
    font-size: 14px;
    float: left;
    margin-top: 25px;
    margin-left: 130px;
    cursor: pointer;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle1_diva3 {
    display: block;
    color: #10ace2;
    font-size: 12px;
    float: right;
    line-height: 50px;
    margin-right: 34px;
    cursor: pointer;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_right {
    width: 354px;
    height: 536px;
    float: right;
    margin-top: 14px;
    margin-right: 3px;
    display: none
}

.Fund_management_content_czhy_middle2_div_rightleftlasta1,.Fund_management_content_czhy_middle2_div_rightleftlasta2,.Fund_management_content_czhy_middle2_div_rightright1_1li1 a,.Fund_management_content_czhy_middle2_div_rightright1_1li2 a {
    font-size: 14px;
    line-height: 14px;
    display: block;
    float: left;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_rightleft {
    width: 47px;
    height: 133px;
    float: left;
    background-image: url(../images/zjgl_czhy_img5_03.png);
    background-repeat: no-repeat;
    cursor: pointer
}

.Fund_management_content_czhy_middle2_div_rightlefttop {
    height: 36px
}

.Fund_management_content_czhy_middle2_div_rightlefttop_img {
    float: left;
    margin-top: 21px;
    margin-left: 20px;
    cursor: pointer
}

.Fund_management_content_czhy_middle2_div_rightleftlasta1 {
    color: #FFF;
    margin-top: 29px;
    margin-left: 20px;
    cursor: pointer
}

.Fund_management_content_czhy_middle2_div_rightleftlasta2 {
    color: #FFF;
    margin-top: 8px;
    margin-left: 19px;
    cursor: pointer
}

.Fund_management_content_czhy_middle2_div_rightright {
    width: 307px;
    height: 536px;
    float: left;
    background-image: url(../images/zijgl_czhy_rightimg1_03.png);
    background-repeat: no-repeat
}

.Fund_management_content_czhy_middle2_div_rightright1 {
    height: 135px
}

.Fund_management_content_czhy_middle2_div_rightright11 {
    width: 294px;
    height: 135px;
    float: left;
    margin-left: 14px;
    margin-top: 2px
}

.Fund_management_content_czhy_middle2_div_rightright1_1 {
    float: left
}

.Fund_management_content_czhy_middle2_div_rightright1_1li1 {
    height: 47px
}

.Fund_management_content_czhy_middle2_div_rightright1_1li1 a {
    color: #7b8da0;
    margin-top: 33px
}

.Fund_management_content_czhy_middle2_div_rightright1_1li2 {
    height: 23px
}

.Fund_management_content_czhy_middle2_div_rightright1_1li2 a {
    color: #7b8da0;
    margin-top: 9px
}

.Fund_management_content_czhy_middle2_div_rightright1_1li3,.Fund_management_content_czhy_middle2_div_rightright1_1li4 {
    height: 21px
}

.Fund_management_content_czhy_middle2_div_rightright1_1li3 a,.Fund_management_content_czhy_middle2_div_rightright1_1li4 a {
    color: #7b8da0;
    font-size: 14px;
    line-height: 14px;
    display: block;
    float: left;
    margin-top: 7px;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_middle2_div_rightright1_1a1 {
    color: #59c2e6;
    cursor: pointer
}

.Fund_management_content_cmdr2_a1,.Fund_management_content_cmdr_2newa1 {
    color: #7b8da0;
    font-family: "微软雅黑";
    display: block;
    float: left;
    font-size: 14px
}

.Fund_management_content_czhy_middle2_div_rightright2 {
    height: 134px;
    clear: both
}

.Fund_management_content_cmdr22 {
    clear: both;
    height: 133px;
    margin-top: 0
}

.Fund_management_content_cmdr22_li1 {
    height: 34px;
    clear: both
}

.Fund_management_content_cmdr22_li1 a {
    display: block;
    margin-top: 20px;
    margin-left: 0
}

.Fund_management_content_cmdr22_li2 {
    height: 25px
}

.Fund_management_content_cmdr22_li2 a {
    height: 10px;
    margin-left: 0
}

.Fund_management_content_cmdr22_li3 {
    height: 19px
}

.Fund_management_content_cmdr22_li3 a {
    margin-top: 4px;
    margin-left: 0
}

.Fund_management_content_cmdr22_li4,.Fund_management_content_cmdr22_li5 {
    height: 16px
}

.Fund_management_content_cmdr22_1 {
    border-bottom: none;
    height: 137px
}

.Fund_management_content_cmdr22_2 {
    height: 124px;
    clear: both
}

.Fund_management_content_cmdr22_21 {
    line-hieght: 19px
}

.Fund_management_content_cmdr22_li1gaoji {
    height: 25px
}

.Fund_management_content_cmdr22_li1gaoji a {
    margin-top: 10px
}

.Fund_management_content_cmdr2_a1 {
    margin-left: 14px;
    margin-top: 6px;
    line-height: 18px
}

.Fund_management_content_cmdr2_a1_li1 {
    height: 97px
}

.Fund_management_content_cmdr_2new {
    height: 133px;
    margin-top: 0;
    clear: both
}

.Fund_management_content_cmdr_2newa1 {
    line-height: 14px;
    margin-top: 22px;
    margin-left: 13px
}

.Fund_management_content_cmdr_2new_img img {
    float: left;
    margin-left: 14px
}

.Fund_management_content_cmdr_2new1 {
    height: 128px
}

.Fund_management_content_tanchu {
    width: 47px;
    height: 133px;
    background-image: url(../images/zjgl_czhy_img5_03.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    right: 13px
}

.Bank_card_management_div {
    background-color: #59c2e6
}

.Bank_card_management_div_2,.Bank_card_management_div_3 {
    background-color: #FFF
}

.Bank_card_management_div a {
    color: #FFF
}

.Bank_card_management_div_2 a,.Bank_card_management_div_3 a {
    color: #1d1d26
}

.Bank_card_management_middle {
    height: 466px
}

.Bank_card_management_middle1 {
    height: 493px;
    float: left;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-color: #fff
}

.Bank_card_management_middle1_left {
    width: 600px;
    float: left
}

.Bank_card_management_middle1_left1 {
    height: 46px
}

.Bank_card_management_middle1_left1_a1 {
    display: block;
    color: #7b8da0;
    width: 104px;
    height: 27px;
    border: 1px solid #e8e8e8;
    float: left;
    font-size: 14px;
    text-align: center;
    line-height: 27px;
    margin-top: 17px;
    margin-left: 36px;
    font-family: "微软雅黑"
}

.Bank_card_management_middle1_left2_a1,.Bank_card_management_middle1_left3_a1 {
    display: block;
    color: #7b8da0;
    font-size: 14px;
    line-height: 14px;
    font-family: "微软雅黑";
    float: left
}

.Bank_card_management_middle1_left2_a1 {
    margin-top: 21px;
    margin-left: 91px
}

.Bank_card_management_middle1_left2_Txt1 {
    width: 222px;
    height: 29px;
    background-repeat: no-repeat;
    background-color: #eee;
    float: left;
    margin-top: 13px;
    margin-left: 5px;
    padding-left: 1px
}

.Bank_card_management_middle1_left3 {
    height: 48px
}

.Bank_card_management_middle1_left3_a1 {
    margin-top: 27px;
    margin-left: 105px
}

.sources_select input,.sources_ul li {
    color: #1d1d26;
    font-size: 14px;
    padding-left: 7px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.input_text {
    height: 29px;
    margin: 19px 0 0 6px
}

.sources_select {
    float: left;
    width: 223px;
    cursor: pointer;
    background-color: #eee
}

.sources_select input {
    background-color: transparent;
    height: 27px;
    line-height: 27px;
    width: 189px
}

.sources_ul {
    position: absolute;
    width: 229px;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    list-style-type: none;
    left: 0;
    top: 30px;
    z-index: 10000;
    height: 300px;
    overflow-y: scroll
}

.sources_ul li {
    line-height: 23px;
    cursor: pointer
}

.Bank_card_management_middle1_left4_a1,.Bank_card_management_middle1_left5_a1 {
    color: #7b8da0;
    font-size: 14px;
    line-height: 14px;
    font-family: "微软雅黑";
    float: left
}

.sources_select3_img1 {
    position: relative;
    top: -42px;
    right: 0
}

.hidden {
    display: none
}

.Bank_card_management_middle1_left4 {
    height: 50px
}

.Bank_card_management_middle1_left4_a1 {
    display: block;
    margin-top: 29px;
    margin-left: 105px
}

.Bank_card_management_middle1_left4_Txt1 {
    width: 105px;
    height: 29px;
    background-color: #eee;
    float: left;
    margin-top: 21px;
    margin-left: 5px;
    padding-left: 1px
}

.Bank_card_management_middle1_left5 {
    height: 49px;
    position: relative
}

.Bank_card_management_middle1_left5_a1 {
    display: block;
    margin-top: 28px;
    margin-left: 133px
}

.input_text1 {
    height: 29px;
    position: relative;
    top: 20px;
    left: 179px
}

.sources_select1 {
    width: 116px;
    cursor: pointer;
    background-image: url(../images/yhkgl_beijing_select1_06.png);
    background-repeat: no-repeat
}

.sources_select1 input {
    background-color: transparent;
    height: 27px;
    line-height: 27px;
    position: relative;
    left: 0;
    top: -40px;
    width: 80px;
    font-size: 14px;
    color: #1d1d26;
    padding-left: 7px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.sources_ul1,.sources_ul2 {
    border: 1px solid #E8E8E8;
    background-color: #fff;
    list-style-type: none;
    z-index: 10000
}

.sources_ul1 li,.sources_ul2 li {
    line-height: 23px;
    color: #1d1d26;
    padding-left: 7px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial;
    font-size: 14px;
    cursor: pointer
}

.sources_ul1 {
    position: relative;
    width: 114px;
    left: 0;
    top: -40px
}

.Bank_card_management_middle1_left5_1 {
    width: 150px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 200px;
    margin-left: 100px;
    clear: both
}

.input_text2,.sources_select2_Txt1,.sources_ul2 {
    position: relative;
    left: 0
}

.input_text2 {
    height: 29px;
    top: 20px
}

.sources_select2 {
    width: 102px;
    cursor: pointer;
    background-image: url(../images/yhkgl_select_img_2_03.png);
    background-repeat: no-repeat
}

.sources_ul2 {
    width: 100px;
    top: 0
}

.sources_select2_Txt1 {
    border: 0;
    background-color: transparent;
    height: 27px;
    line-height: 27px;
    top: 1px;
    width: 69px;
    font-size: 14px;
    color: #1d1d26;
    padding-left: 7px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.Bank_card_management_middle1_left6 {
    height: 48px
}

.Bank_card_management_middle1_left6_a1 {
    display: block;
    color: #7b8da0;
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin-top: 27px;
    margin-left: 105px;
    font-family: "微软雅黑"
}

.Bank_card_management_middle1_left2_Txt2 {
    width: 222px;
    height: 29px;
    background-color: #eee;
    float: left;
    margin-top: 19px;
    margin-left: 5px;
    padding-left: 1px
}

.Bank_card_management_middle1_left7 {
    height: 50px
}

.Bank_card_management_middle1_left7_a1 {
    display: block;
    color: #7b8da0;
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin-top: 29px;
    margin-left: 91px;
    font-family: "微软雅黑"
}

.Bank_card_managementTxt2 {
    margin-top: 21px;
    margin-left: 5px
}

.Bank_card_management_middle1_left8 {
    height: 49px;
    clear: both
}

.Bank_card_managementa1 {
    margin-top: 28px;
    margin-left: 119px
}

.Bank_card_managementTxt3 {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 12px;
    padding-left: 10px;
    width: 213px;
    font-family: "微软雅黑"
}

.Bank_card_management_middle1_left9 {
    height: 62px
}

.Bank_card_managementBut2 {
    margin-top: 33px;
    margin-left: 181px
}

.Bank_card_management_middle1_right {
    width: 356px;
    height: 317px;
    background-repeat: no-repeat;
    float: right
}

.Bank_card_management_middle1_right_li1 {
    height: 86px
}

.Bank_card_management_middle1_right_li1 a {
    display: block;
    color: #ff4977;
    font-size: 14px;
    float: left;
    line-height: 14px;
    margin-top: 42px;
    margin-left: 18px;
    font-family: "微软雅黑"
}

.Bank_card_management_middle1_right_li2 a,.Bank_card_management_middle1_right_li3 a,.Bank_card_management_middle1_right_li4 a,.Bank_card_management_middle1_right_li5 a {
    line-height: 18px;
    margin-left: 21px;
    display: block;
    color: #7b8da0;
    font-size: 14px;
    font-family: "微软雅黑";
    float: left
}

.Bank_card_management_middle1_right_li2 {
    height: 47px
}

.Bank_card_management_middle1_right_li3 {
    height: 45px
}

.Bank_card_management_middle1_right_li4 {
    height: 46px
}

.Bank_card_management_middle1_right_li5 {
    height: 25px
}

.Bank_card_management_last {
    height: 111px
}

.Bank_card_management_last1 {
    width: 980px;
    height: 111px;
    float: left;
    margin-left: 10px;
    background-image: url(../images/yhkgl_last_beijing_03.png);
    background-repeat: no-repeat
}

.Bank_card_management_last1_top {
    height: 50px;
    border-bottom: 1px solid #eef0f2
}

.Bank_card_management_last1_top_a1 {
    display: block;
    color: #7b8da0;
    font-size: 14px;
    float: left;
    line-height: 50px;
    margin-left: 39px;
    font-family: "微软雅黑"
}

.Bank_card_management_last1_top_a2_1 {
    color: #ff2626
}

.Bank_card_management_last1_bottom_a1,.Bank_card_management_last1_bottom_a2,.Bank_card_management_last1_bottom_a3,.Bank_card_management_last1_top_a2 {
    display: block;
    color: #7b8da0;
    font-size: 14px;
    line-height: 50px
}

.Bank_card_management_last1_top_a2 {
    float: left;
    margin-left: 19px;
    font-family: "微软雅黑"
}

.Bank_card_management_last1_bottom {
    height: 50px
}

.Bank_card_management_last1_bottom_a1 {
    float: left;
    margin-left: 38px;
    font-family: "微软雅黑"
}

.Bank_card_management_last1_bottom_a2 {
    float: left;
    margin-left: 63px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.Bank_card_management_last1_bottom_a3 {
    float: right;
    margin-right: 30px;
    cursor: pointer;
    font-family: "微软雅黑"
}

.Fund_management_content_czhy_yhkgl {
    overflow: visible
}

#accSum,#accSum ul,.Fund_management_content_czhy_tixian2,.Fund_management_content_czhy_yhkgl_2,.payBefore,.payBox {
    overflow: hidden
}

.Fund_management_middle_topimg_1 {
    position: absolute;
    top: 0;
    left: 709px
}

.Fund_management_content_czhy_middle2_div_left2a1_Txt3 {
    width: 107px;
    height: 27px;
    border: 1px solid #e8e8e8;
    float: left;
    margin-top: 15px;
    margin-left: 7px
}

.Fund_management_content_czhy_middle2_div_left2_3 {
    height: 44px
}

.Fund_management_content_czhy_middle2_div_left2a1_3 {
    margin-top: 22px
}

.Fund_management_content_czhy_middle2_div_left4But_3 {
    margin-left: 104px;
    margin-top: 32px
}

.Fund_management_content_czhy_middle1_div2 {
    background-image: url(../images/zjgl_two_middle_beijing1_03.png)
}

.Fund_management_content_czhy_middle1_diva1_2 {
    margin-left: 25px
}

.Fund_management_content_czhy_middle2_div_left2_2 {
    height: 30px
}

.Fund_management_content_czhy_middle2_div_left2a1_2,.Fund_management_content_czhy_middle2_div_left2a2_2 {
    margin-top: 16px
}

.Fund_management_content_czhy_middle2_div_left2a1_4,.Fund_management_content_czhy_middle2_div_left2a1_5 {
    color: #a4b0bc;
    font-size: 14px;
    line-height: 29px;
    margin-top: 15px;
    font-family: "微软雅黑";
    display: block;
    float: left
}

.Fund_management_content_czhy_middle2_div_left2a1_4 {
    margin-left: 10px
}

.Fund_management_content_czhy_middle2_div_left2a1_5 {
    margin-left: 14px
}

.sources_select_2 input,.sources_ul_2 li {
    color: #1d1d26;
    font-size: 14px;
    padding-left: 7px;
    font-family: "Helvetica Neue",Tahoma,Helvetica,Arial
}

.Bank_card_management_middle1_left1_a1_2 {
    margin-top: 17px;
    margin-left: 16px
}

.Bank_card_management_middle1_left1_a1_2_2 {
    margin-top: 18px;
    margin-left: 75px
}

.Bank_card_management_middle1_left1_2 {
    height: 47px
}

.Bank_card_management_middle1_left2_2 {
    height: 48px
}

.Bank_card_management_middle1_left2_a1_2,.Bank_card_management_middle1_left3_a1_2 {
    margin-top: 27px
}

.Bank_card_management_middle1_left2_Txt1_2 {
    margin-top: 19px
}

.Bank_card_management_middle1_left3_2 {
    height: 50px
}

.input_text_2 {
    position: relative;
    top: 21px;
    left: 179px;
    height: 29px
}

.sources_select_2 {
    width: 116px;
    cursor: pointer;
    background-image: url(../images/yhkgl_beijing_select1_06.png);
    background-repeat: no-repeat
}

.sources_select_2 input {
    border: 0;
    background-color: transparent;
    height: 27px;
    line-height: 27px;
    position: relative;
    left: 0;
    top: -40px;
    width: 80px
}

.sources_ul_2 {
    position: relative;
    width: 114px;
    border: 1px solid #E8E8E8;
    background-color: #fff;
    list-style-type: none;
    left: 0;
    top: -40px;
    z-index: 10000
}

.sources_ul_2 li {
    line-height: 23px;
    cursor: pointer
}

.Withdrawals_div_content_last1_right5_a1 {
    display: block;
    color: #7b8da0;
    font-size: 12px;
    line-height: 12px;
    float: left;
    margin-top: 31px;
    margin-left: 23px;
    font-family: "微软雅黑"
}

.Withdrawals_div_content_top_a3,.Withdrawals_div_content_top_a4 {
    font-size: 12px;
    line-height: 50px;
    float: right;
    font-family: "微软雅黑";
    display: block
}

.Withdrawals_div_content_top_a3 {
    color: #7b8da0
}

.Withdrawals_div_content_top_a4 {
    color: #59c2e6;
    margin-right: 45px;
    cursor: pointer
}

.Withdrawals_div_content_last1_right2_a2 {
    display: block;
    color: #7b8da0;
    font-size: 14px;
    line-height: 28px;
    float: left;
    margin-left: 11px;
    font-family: "微软雅黑"
}

.redinput {
    border: 1px solid red!important
}

#user_menu .exit_button_cd {
    margin-top: 0!important
}

.left_menu img {
    position: relative;
    top: 8px
}

.Fund_charge_coin_tips {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #690
}

#bindCardForm,#bindCardFormUp {
    padding: 10px 0 0 50px
}

#bindCardForm input,#bindCardFormUp input {
    border: 1px solid #ddd;
    background-color: #eee
}

#phoneNoId,#phoneNoIdUp {
    border: none!important;
    background-color: #fff!important
}

.bankTitle {
    margin: 15px 0 0 50px
}

.Bangdings,.unBangdings {
    height: 122px;
    margin: 80px auto 0
}

.bankTitle h2 {
    font-size: 16px;
    color: #666;
    line-height: 35px;
    font-weight: 400
}

.bankTitle p {
    font-size: 12px;
    color: red;
    line-height: 25px
}

.Bangdings h2,.Bangdings p {
    color: #666;
    width: 217px;
    text-align: center
}

.unBangdings {
    width: 217px;
    background: url(../images/addBankBg.png);
    cursor: pointer
}

.Bangdings {
    width: 217px;
    background: url(../images/bankBg.png)
}

.Bangdings h2 {
    font-size: 18px;
    line-height: 45px
}

.Bangdings p {
    font-size: 14px;
    line-height: 33px
}

#changeBank,#deleteBankCard {
    font-size: 15px;
    color: #08a1d5;
    text-align: center;
    background-color: transparent;
    cursor: pointer;
    width: 90px;
    display: block;
    margin: 0 auto
}

.bankRow {
    width: 550px;
    height: 50px
}

.bankRow a {
    text-align: right;
    width: 100px;
    height: 50px;
    line-height: 50px;
    display: block;
    color: #7b8da0;
    float: left;
    font-size: 14px;
    margin-left: 80px
}

.bankRow>input[type=text] {
    background-color: transparent;
    line-height: 28px;
    font-size: 14px;
    color: #1d1d26;
    padding-left: 7px;
    width: 222px;
    height: 28px;
    margin: 10px 0 0 5px;
    float: left
}

.bankRow>input.phoneNo {
    width: 100px;
    height: 27px
}

.bankRow>input[type=button] {
    width: 98px;
    height: 28px;
    background-color: #01b76d!important;
    color: #FFF;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 23px;
    cursor: pointer
}

.bankRow .bankNameBox {
    position: relative;
    float: left;
    margin: 10px 0 0 5px
}

.bankRow .bankNameBox input.bankName {
    width: 222px;
    height: 28px;
    padding-left: 7px
}

.bankRow .bankNameBox .selectImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: url(../images/select_button.png) center no-repeat;
    cursor: pointer
}

#Prev,#PrevUp {
    margin-left: 185px;
    background-color: #59c2e6!important
}

.pwdm {
    float: left;
    width: 18px;
    height: 17px;
    margin: 5px 0 0 -22px;
    background: url(../images/i16_mclose.png) no-repeat #fff;
    cursor: pointer
}

.leftext,.leftext2 {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 50px;
    float: left;
    margin-left: 28px
}

.leftext2 {
    color: red
}

.leftext .iconTh,.leftext2 .iconTh {
    width: 16px;
    height: 16px;
    float: left;
    margin: 17px 8px 0 0;
    background: url(../images/i16_sm.png) no-repeat
}

.payBefore,.payBox {
    width: 980px;
    margin: 0 0 10px 10px;
    padding-bottom: 30px;
    background-color: #fff;
    display: block
}

.payBefore>ol,.payBefore>p {
    margin-left: 100px
}

.payBefore {
    width: 980px
}

.payBefore>p {
    font-size: 18px;
    margin-top: 52px;
    margin-bottom: 20px
}

.payBefore>ol>li {
    line-height: 30px;
    font-size: 14px
}

.payBefore .pay-bfe-slt {
    padding: 5px 20px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 70px;
    font-size: 16px;
    cursor: pointer
}

.addAccountLeft {
    position: relative;
    float: left;
    width: 600px;
    display: none
}

.addAccountLeft .howInput {
    position: absolute;
    right: 120px;
    top: 43px
}

.addAccountLeft .howInput a {
    color: #f30;
    text-decoration: underline
}

.addAccountLeft ul {
    width: 315px;
    margin: 40px 0 0 50px
}

.addAccountLeft ul li {
    margin-bottom: 8px;
    overflow: hidden
}

.addAccountLeft ul li p {
    float: left;
    font-size: 14px;
    color: #8b9fb6;
    line-height: 25px
}

.addAccountLeft ul li input[type=text] {
    float: left;
    line-height: 23px;
    width: 215px;
    height: 23px;
    padding-left: 10px;
    border: 1px solid #ccc
}

.addAccountLeft ul li span {
    float: left;
    font-size: 12px;
    line-height: 20px;
    color: #bbb;
    margin-left: 84px
}

.addAccountLeft dl {
    float: left;
    line-height: 35px;
    margin: 20px 0
}

.addAccountLeft dl dd,.addAccountLeft dl dt {
    color: #999
}

.addAccountLeft dl dd a {
    color: #10ace2
}

.addAccountLeft h1 {
    float: left;
    font-size: 12px;
    font-weight: 400;
    color: #ff6b8e;
    text-align: left;
    line-height: 35px;
    width: 220px;
    background-color: #ffefd7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-left: 20px
}

.addAccountLeft h1 span {
    color: #000
}

#back,#gobind,#submitPay,#submitUpdataPay {
    height: 27px;
    background-color: #59c2e6;
    border: 1px solid #e8e8e8;
    color: #FFF;
    font-size: 14px;
    cursor: pointer
}

#gobind {
    padding: 0 20px;
    line-height: 25px;
    margin-left: 80px
}

#back,#submitPay,#submitUpdataPay {
    width: 102px;
    margin-top: 25px;
    margin-left: 110px;
    display: none
}

#back {
    margin-left: 20px
}

.addAccountLeft>p {
    line-height: 25px;
    color: #f30;
    margin-top: 25px;
    padding-left: 50px
}

.addAccountRight {
    float: left;
    line-height: 40px;
    text-align: center;
    width: 320px;
    padding: 40px 30px 0
}

.addAccountRight h1 {
    height: 40px;
    font-size: 16px;
    border: 1px dashed #ccc
}

.addAccountRight .account {
    border: 1px dashed #ccc;
    border-top: none;
    border-bottom: none
}

#accSum ul {
    margin: 10px 0
}

#accSum ul li {
    float: left;
    height: 40px
}

#accSum ul li h2 {
    text-align: left;
    width: 220px;
    padding-left: 18px;
    line-height: 20px;
    font-size: 12px;
    color: #999
}

#accSum ul li p,.addAccountRight .bottom p {
    color: #10ace2;
    cursor: pointer
}

#accSum ul li p {
    width: 40px;
    line-height: 40px;
    font-size: 12px
}

.addAccountRight .bottom {
    border: 1px dashed #ccc
}

.contentBox {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 1000
}

.contentBox .content {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 15px;
    background-color: #fff
}

.contentBox .content span {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    cursor: pointer
}

body {
    overflow-y: scroll
}

.pay-select {
    margin-left: 10px;
    width: 980px;
    margin-top: 5px
}

.pay-select>a {
    display: inline-block;
    overflow: hidden;
    width: 260px;
    padding: 8px 0;
    background-color: #fff;
    cursor: pointer
}

.pay-select>a>span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 18px
}

.pop-box,.shade,.tonglian-box {
    display: none
}

.pay-select>a>img {
    float: left;
    padding-left: 45px;
    padding-right: 10px
}

.pay-select img {
    background-repeat: no-repeat;
    width: 0;
    height: 52px;
    margin-left: 50px
}

.pay-select .alipay img {
    background-image: url(../images/i48_zfb02.gif)
}

.pay-select .alipay.active img {
    background-image: url(../images/i48_zfb.gif)
}

.pay-select .tonglian img {
    background-image: url(../images/i48_tlzf02.png)
}

.pay-select .tonglian.active img {
    background-image: url(../images/i48_tlzf.png)
}

.pay-select .unionpay img {
    background-image: url(../images/i48_up02.png)
}

.pay-select .unionpay.active img {
    background-image: url(../images/i48_up.png)
}

.pay-select a span {
    color: #1d1d26
}

.pay-select a.active span {
    color: #1AAC19
}

.shade {
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0
}

.pop-box {
    width: 700px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -350px;
    z-index: 2
}

.pop-box a {
    cursor: pointer
}

.pop-box>.pop-top {
    height: 40px;
    line-height: 40px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd
}

.pop-box>.pop-top>b {
    font-weight: 400;
    margin-left: 20px;
    font-size: 16px
}

.pop-box>.pop-top>a {
    float: right;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #666;
    cursor: pointer
}

.pop-box>p>span {
    color: red
}

.pop-box>p>span.iconTh {
    float: left;
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background: url(../images/i16_sm.png) no-repeat
}

.pop-box>p.pop-content-top {
    background-color: #ffefd7;
    width: 650px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 3px
}

.pop-box>div.pop-step-one,.pop-box>div.pop-step-two {
    margin-top: 20px
}

.pop-box>div.pop-step-one>p,.pop-box>div.pop-step-two>p {
    font-size: 16px;
    color: #00B86E;
    margin-left: 34px;
    text-align: left
}

.pop-box>div.pop-step-one>div>p {
    text-align: center;
    margin-top: 50px
}

.pop-box>div.pop-step-one>div>img {
    margin-left: 250px
}

.pop-box>div.pop-step-one>div>a,.pop-box>div.pop-step-two>div>a {
    display: inline-block;
    background-color: #00B86E;
    color: #fff;
    text-align: center;
    padding: 5px 0
}

.pop-box>div.pop-step-one>div>a {
    width: 300px;
    margin-left: 200px;
    margin-top: 100px
}

.pop-box>div.pop-step-two>div {
    position: relative
}

.pop-box>div.pop-step-two>div>div {
    position: absolute;
    left: 255px;
    top: 166px
}

.pop-box>div.pop-step-two>div>p {
    position: absolute
}

.pop-box>div.pop-step-two>div>p.one {
    left: 468px;
    top: 181px;
    font-size: 28px;
    font-weight: 700
}

.pop-box>div.pop-step-two>div>p.two {
    left: 444px;
    top: 229px;
    font-size: 12px
}

.pop-box>div.pop-step-two>div>p.two>span {
    color: #666
}

.pop-box>div.pop-step-two>div>div>p {
    font-size: 16px;
    line-height: 30px;
    color: red
}

.pop-box>div.pop-step-two>div>div>p>span {
    font-size: 16px
}

.pop-box>div.pop-step-two>div>img {
    width: 90%;
    margin-left: 38px;
    margin-top: 25px
}

.pop-box>div.pop-step-two>div>a.current {
    margin-left: 130px;
    margin-right: 90px
}

.pop-box>div.pop-step-two>div>a {
    margin-top: 40px;
    width: 170px
}

.tipinfo {
    height: 100px!important
}

.tipinfo>span {
    display: block;
    background-color: #faebd7;
    padding-left: 10px;
    padding-bottom: 5px
}

.taskFeeTip {
    display: none
}

.warn-icon-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #F8BB86;
    line-height: 100px;
    text-align: center;
    font-size: 70pt;
    color: #F8BB86;
    font-weight: 100;
    margin: 100px auto 50px
}

.warn-icon-line {
    height: 55px;
    width: 4px;
    background-color: #F8BB86;
    margin-left: 47px;
    margin-top: 16px
}

.warn-icon-circle {
    height: 6px;
    width: 6px;
    background-color: #F8BB86;
    margin-left: 46px;
    margin-top: 6px;
    border-radius: 50%
}

.warn-icon-box,.warn-icon-circle,.warn-icon-line {
    animation: warnIcon infinite 3s
}

@keyframes warnIcon {
    0%,100% {
        opacity: 1
    }

    20% {
        opacity: .8
    }

    40%,80% {
        opacity: .7
    }

    60% {
        opacity: .6
    }
}

.noSubmit {
    background-color: #c7c5c5
}

.delaySubmit {
    clear: both;
    margin-left: 224px;
    line-height: 28px;
    float: left;
    margin-top: -30px;
    width: 200px;
    text-align: center;
    border: 1px solid #c7c5c5
}
