* {
    margin: 0;
    padding: 0;
    font-family: 微软雅黑
}

.floatLeft {
    float: left
}

.left_menu {
    width: 188px;
    border: 1px solid #ddd
}

.left_menu li {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background-color: #fff;
    cursor: pointer
}

.left_menu li:hover {
    background-color: #ccc
}

.left_menu li i {
    float: left;
    width: 20px;
    height: 40px;
    margin: 0 8px 0 20px
}

.left_menu li span {
    color: #a4a4a4;
    float: left;
    font-size: 14px;
    height: 40px;
    line-height: 41px
}

.left_menu li p {
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    float: right;
    margin: 15px 13px 0 0;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg)
}

.left_menu li.menu_selected {
    background-color: #b3b3b3
}

.left_menu li.menu_selected span,.left_menu li:hover span {
    color: #fff
}

.left_menu li i.grxx {
    background: url(../images/grxx.png) center no-repeat
}

.left_menu li i.dpbt {
    background: url(../images/dpbt.png) center no-repeat
}

.left_menu li i.fbrw {
    background: url(../images/fbrw.png) center no-repeat
}

.left_menu li i.yfbrw {
    background: url(../images/i16_xlrw01.png) center no-repeat
}

.left_menu li i.wfbrw {
    background: url(../images/i16_llrw01.png) center no-repeat
}

.left_menu li i.hmd {
    background: url(../images/i16_hmd01.png) center no-repeat
}

.left_menu li i.fbjl {
    background: url(../images/fbjl.png) center no-repeat
}

.left_menu li i.ckzd {
    background: url(../images/ckzd.png) center no-repeat
}

.left_menu li i.zjgl {
    background: url(../images/zjgl.png) center no-repeat
}

.left_menu li i.ckzz {
    background: url(../images/ckzz.png) center no-repeat
}

.left_menu li i.faq {
    background: url(../images/faq.png) center no-repeat
}

.left_menu li i.dpbd {
    background: url(../images/dpbd.png) center no-repeat
}

.left_menu li i.dprz {
    background: url(../images/dprz.png) center no-repeat
}

.left_menu li i.i16__ks01 {
    background: url(../images/i16__ks01.png) center no-repeat
}

.left_menu li i.i16_brq {
    background: url(../images/i16_brq.png) center no-repeat
}

.left_menu li i.i16_cpm {
    background: url(../images/i16_cpm01.png) center no-repeat
}

.left_menu li i.i16_mjbs {
    background: url(../images/mjbs_logo.jpg) center no-repeat;
    background-size: 17px
}

.left_menu li i.i16_protocol {
    background: url(../images/i16_protocol.png) center no-repeat;
    background-size: 17px
}

.left_menu li i.rcd {
    background: url(../images/rcd.png) center no-repeat
}

.left_menu li i.xiuba-icon {
    background: url(../images/xiuba.png) center no-repeat
}

.left_menu li.menu_selected i.grxx,.left_menu li:hover i.grxx {
    background: url(../images/grxx2.png) center no-repeat
}

.left_menu li.menu_selected i.xiuba-icon,.left_menu li:hover i.xiuba-icon {
    background: url(../images/xiuba2.png) center no-repeat
}

.left_menu li.menu_selected i.dpbt,.left_menu li:hover i.dpbt {
    background: url(../images/dpbt2.png) center no-repeat
}

.left_menu li.menu_selected i.fbrw,.left_menu li:hover i.fbrw {
    background: url(../images/fbrw2.png) center no-repeat
}

.left_menu li.menu_selected i.yfbrw,.left_menu li:hover i.yfbrw {
    background: url(../images/i16_xlrw03.png) center no-repeat
}

.left_menu li.menu_selected i.wfbrw,.left_menu li:hover i.wfbrw {
    background: url(../images/i16_llrw03.png) center no-repeat
}

.left_menu li.menu_selected i.hmd,.left_menu li:hover i.hmd {
    background: url(../images/i16_hmd02.png) center no-repeat
}

.left_menu li.menu_selected i.fbjl,.left_menu li:hover i.fbjl {
    background: url(../images/fbjl2.png) center no-repeat
}

.left_menu li.menu_selected i.ckzd,.left_menu li:hover i.ckzd {
    background: url(../images/ckzd2.png) center no-repeat
}

.left_menu li.menu_selected i.zjgl,.left_menu li:hover i.zjgl {
    background: url(../images/zjgl2.png) center no-repeat
}

.left_menu li.menu_selected i.ckzz,.left_menu li:hover i.ckzz {
    background: url(../images/ckzz2.png) center no-repeat
}

.left_menu li.menu_selected i.faq,.left_menu li:hover i.faq {
    background: url(../images/faq2.png) center no-repeat
}

.left_menu li.menu_selected i.dpbd,.left_menu li:hover i.dpbd {
    background: url(../images/dpbd2.png) center no-repeat
}

.left_menu li.menu_selected i.dprz,.left_menu li:hover i.dprz {
    background: url(../images/dprz2.png) center no-repeat
}

.left_menu li.menu_selected i.i16__ks01,.left_menu li:hover i.i16__ks01 {
    background: url(../images/i16__ks02.png) center no-repeat
}

.left_menu li.menu_selected i.rcd,.left_menu li:hover i.rcd {
    background: url(../images/rcd2.png) center no-repeat
}

.left_menu li:hover i.i16_brq {
    background: url(../images/i16_brq02.png) center no-repeat
}

.left_menu li:hover i.i16_cpm {
    background: url(../images/i16_cpm02.png) center no-repeat
}

.left_menu li .bPic {
    float: right;
    width: 55px;
    height: 21px;
    margin-right: 40px;
    background: url(../images/burenqigif.gif) no-repeat
}

.left_menu li .cPic {
    float: right;
    width: 67px;
    height: 21px;
    margin-right: 28px;
    background: url(../images/chapaiminggif.gif) no-repeat
}

.left_menu li .new {
    position: absolute;
    top: 2px;
    width: 38px;
    height: 16px;
    background: url(../images/NEW.gif) no-repeat
}

/*.menu_selected:focus {*/
    /*color: red;*/
/*}*/

.left_menu .line_li {
    height: 1px;
    width: 155px;
    background: #EDEDED;
    margin-left: 32px
}

.left_menu .line_li2 {
    height: 1px;
    width: 155px;
    background: #1d1d26;
    margin-left: 32px
}

.hidden {
    display: none
}
