<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="con">
<h3>项目信息</h3>
<form>
    文件 <input type="file" name="upload_file" file="upload_file"><br>
    <input type="button" ng-click="sub()" value="保存">
</form>
</body>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script type="text/javascript">
    angular.module("app",[])
        .directive('file', function () {
            return {
                scope: {
                    file: '='
                },
                link: function (scope, el, attrs) {
                    el.bind('change', function (event) {
                        var file = event.target.files;
                        scope.file = file ? file : undefined;
                        scope.$apply();
                    });
                }
            };
        })
        .controller("con",function($scope,$http){
            $scope.sub = function(){
                tmp_file = $scope.upload_file
                $http({
                    headers : {
                        'content-type': 'multipart/form-data',
                    },
                    method: "POST",
                    url: "find/fileUpload",
                    data : tmp_file,
                transformRequest: function (data, headersGetter) {
                    var formData = new FormData();
                    angular.forEach(data, function (value, key) {
                        formData.append(key, value);
                    });
                    var headers = headersGetter();
                    delete headers['Content-Type'];
                    return formData;
                },
            }).then(function(response){
                    console.log(response);
                },function(response){
                    console.log(response);
                });
            }
        })
</script>
</html>